*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    display: flex;
    align-items: center;
    margin: 0 135px;
    padding: 8px 0 0;
    width: 1425px;
    font-family: Helvetica, Arial, sans-serif;
}
.user-icon{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 300px;
    height: 65px;
    gap: 55px;
}
.user-icon img{
    margin: 0 12px;
    width:90px;
    height: 100%;
    color: white;
    padding: 12px 0;
}
.sign-in{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    height: 100%;
    width: 120px;
    font-size: 13px;
    font-family: Helvetica, Arial, sans-serif;
    margin-left: -60px;
    cursor: pointer;
    border-bottom: 3px solid white;
    transition: border-bottom 0.5s ease;
}
.sign-in:hover{
    border-bottom: 3px solid blue;
}
.sign-in img{
    height: 100%;
    width: 45px;
}
.sign-in a{
    text-decoration: none;
    font-weight: 700;
    width: 55px;
    margin-left: -15px;
    font-family: Helvetica, Arial, sans-serif;
    border: none;
    color: black;
}
.nav-bar{
    width: 100%;
    height: 100%;
    padding: 0 0 0 12px;
    margin-left: 85px;
    border-left: 1px solid rgba(142, 141, 141, 0.879);
    padding-left: 15px;
}
.nav-bar ul{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 45px;
}
.nav-bar li{
    list-style: none;
}
.nav-bar li a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 13px;
    gap: 25px;
    transition: color 0.3s ease-in;
    border-bottom: 3px solid white;
    transition: border-bottm 0.5s ease-out;
}
.nav-bar li a:hover{
    border-bottom: 3px solid black;
    padding-bottom: 15px;
}
.search{
    margin-right: 215px;
    padding-left: 15px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
    border: 1px solid white;
    background-color: white;
    transition: background-color 0.5s ease;
    cursor: pointer;
}
.search:hover{
    background-color: rgba(173, 173, 173, 0.644);
}
.search p{
    color: black;
    font-weight: 700;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
}
.search a{
    text-decoration: none;
    color: black;
    display: flex;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
    width: 200px;
    height: 55px;
}

.nav-2{
    background-color: #FFD230;
    height: 65px;
    display: flex;
    align-items: center;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin-top: 8px;
    border-top: 1px solid #e8b604;
}
.nav-2 p{
    margin-left: 145px;
    font-size: 35px;
}
.nav-3 ul{
    display: flex;
    justify-content: start;
    align-items: end;
}
.nav-3{ 
    width: 100%;
    height: 45px;
    background-color: #FFD230;
    padding: 12px;
    border-top: 1px solid rgba(85, 88, 4, 0.501);
}
.navbar-3{
    margin-left: 130px;
}
.navbar-3 ul li{
    list-style: none;
}
.navbar-3 ul li a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 18px;
    padding: 5px;
    transition: color 0.3s ease-in;
    border-right: 1px solid rgba(85, 88, 4, 0.501);
    transition: border-bottom 0.6s ease;
}
.navbar-3 ul li a:hover{
    border-bottom: 5px solid black;
}
.nav-4 ul{
    display: flex;
    justify-content: start;
    align-items: end;
}
.navbar-4{
    margin-left: 130px;
}
.nav-4{ 
    width: 100%;
    height: 45px;
    background-color: #000000;
    padding: 12px;
}
.navbar-4 ul li{
    list-style: none;
}
.navbar-4 ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 18px;
    padding: 5px;
    transition: color 0.3s ease-in;
    border-right: 1px solid rgb(255, 255, 255);
    transition: all 0.6s ease;
}
.advertise{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    margin-left: -55px;
    
}
.advertise img{
    margin: 28px 0;
}
.main-content{
    background-color: rgba(234, 234, 234, 0.882);
    width: 100%;
    padding-top: 55px;
}
.sec{
    width: 850px;
    margin: 0 156px;
    text-align: left;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0 290px;
}
.sec img{
    padding: 18px 0;
    height: 350px;
}
.author{
    margin: 0 156px;
    padding: 10px 0;
    margin: 0 290px;
}
.author h3{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px;
}
.author h5{
    color: gray;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 24px;
}
.content{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    width: 850px;
    margin: 0 290px;
}
.leaving{
    margin: 55px 0;
}
.bold{
    display: flex;
    justify-content: center;
    width: 750px;
    text-align: center;
}
.audio-container {
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(135deg, #1e3c72, #2a5298);
      padding: 20px;
      border-radius: 15px;
      box-shadow: 0 8px 20px rgba(0,0,0,0.3);
      max-width: 400px;
      margin-left: 290px;
      margin-top: 25px;
}

.audio-container audio {
    width: 100%;
    outline: none;
    border-radius: 10px;
}
.social-bar {
    background-color: rgba(234, 234, 234, 0.882);
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 75px;
}

.social-item {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}
.image img{
	width: 50px;
    height: 50px;
}
.icon-box {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


.fb-box {
    background-color: #3b5998;
}

.x-box {
    background-color: #000;
}

.social-label {
    font-weight: bold;
    font-size: 18px;
    color: #333;
}


.main-footer {
    background-color: #121212; 
    color: white;
    padding: 30px 10%; 
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
}

.footer-nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 20px;
    font-family: Helvetica, Arial, sans-serif;
}

.nav-column {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 15px;
    border-left: 2px solid #a8a7a7; 
}

.nav-column:first-child {
    border-left: none;
    padding-left: 0;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
}

.nav-link:hover {
    text-decoration: underline;
}

.footer-divider {
    border: 0;
    height: 1px;
    background: #a8a7a7;
    margin: 20px 0;
}

.legal-links {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.legal-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    font-family: Helvetica, Arial, sans-serif;
}

.legal-links a:hover {
    text-decoration: underline;
}

.copyright {
    font-size: 13px;
    color: #fff;
    line-height: 1.4;
    font-family: Helvetica, Arial, sans-serif;
}
